::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.navbar-link:hover {
    color: #ffffff;
}

.intro-box {
    animation: intro-box 2s ease;
}

.intro-btn:hover {
    box-shadow: 0px 0px 20px 5px #60BBEE;
}

.intro-right {
    animation: intro-right 7s ease;
}

@keyframes intro-box {
    from {
        background-position: 722px -0;
        opacity: 0;
    }

    to {
        background-position: 722px -192px;
    }
}

@keyframes intro-right {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.services-box:hover {
    border-bottom: 3px solid #242527;
    transform: translateY(-10px);
    padding-bottom: 68px;
}

.companies-img:hover {
    transform: scale(1.2);
}

.make-minis:hover {
    background: linear-gradient(180deg, #BDDBEC, white);
}

.make-minis:hover p {
    color: black;
}

.make-minis:hover .make-image {
    border: 10px solid white;
}

.meet-box button:hover {
    background-color: white;
    color: #60BBEE;
    cursor: pointer;
    border: 1px solid #60BBEE;
}

.history-btn:hover {
    background-color: white;
    color: #60BBEE;
    cursor: pointer;
    border: 1px solid #60BBEE;
}

.news-text span:hover {
    cursor: pointer;
}

.projects-btn:hover {
    box-shadow: 0px 0px 5px 1px #60BBEE;
    cursor: pointer;
}

.footer-icon:hover {
    opacity: 1;
    cursor: pointer;
}

.footer-link:hover {
    opacity: 0.5;
}

.footer-right-btn:hover {
    background: #222222;
}

.footer-left-btn:hover {
    background: #0A72AD;
}


.reveal {
    position: relative;
    opacity: 0;
}

.reveal.active {
    opacity: 1;
}

.inactive {
    transition: all 0.3s;
    transform: scale(0);
}

.active.fade-bottom {
    animation: fade-bottom 1s ease;
}

.active.fade-left {
    animation: fade-left 1s ease;
}

.active.fade-right {
    animation: fade-right 1s ease;
}

@keyframes fade-bottom {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-left {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-right {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}