* {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.burger-btn {
    display: none;
}

.burger-menu {
    display: none;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.core {
    background: linear-gradient(219.84deg, #474747 4.14%, #222222 44.22%);
}

.navbar-logo {
    margin-top: 48px;
    margin-left: 120px;
    height: 66px;
    width: 87px;
    color: #FFFFFF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.navbar-span {
    color: #0A72AD;
}

.navbar {
    display: flex;
}

.navbar-list {
    display: flex;
    margin-top: 48px;
    margin-left: 73px;
}

.navbar-li {
    margin-left: 60px;
}

.navbar-link {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #C4C4C4;
    transition: all 0.3s ease;
}




.intro-box {
    background-image: url("../images/intro-bg.png");
    background-repeat: no-repeat;
    background-position: 722px -192px;
    background-size: 698px;
}

.intro-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 96px;
    color: #FFFFFF;
    margin-left: 120px;
    margin-top: 36px;
}

.intro-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #C4C4C4;
    margin-left: 120px;
    margin-top: 24px;
}

.intro-btn {
    padding: 20px 40px;
    background: linear-gradient(97.65deg, #60BBEE 0.33%, #0A72AD 93.35%);
    box-shadow: 0px 10px 15px rgba(1, 115, 153, 0.2);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 120px;
    margin-top: 62px;
    transition: all 0.3s ease;
    border: none;
}

.intro-bottom {
    display: flex;
    margin-top: 44px;
}

.intro-left {
    display: flex;
    margin-left: 120px;
}

.intro-count {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
}

.intro-count span {
    color: #2387C0;
}

.intro-words {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #C4C4C4;
}

.i-mini {
    margin-left: 51px;
}

.intro-right {
    background: linear-gradient(97.73deg, #399FD8 -6.96%, #0775B4 23.5%, #003756 92.79%);
    box-shadow: 0px 10px 15px rgba(1, 115, 153, 0.2);
    width: 745px;
    height: 166px;
    margin-left: 195px;
    display: flex;
}

.intro-mini-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    margin-top: 49px;
    margin-left: 32px;
}

.intro-mini-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    margin-left: 41px;
    margin-top: 49px;
}

.i-num {
    font-size: 36px;
}

.i-str {
    font-size: 18px;
}

.intro-mini-sentences {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 36px;
    color: #FFFFFF;
    margin-left: 54px;
    margin-top: 36px;
}








.companies {
    background-color: #FEFEFE;
}

.companies-box {
    display: flex;
    justify-content: space-evenly;
}

.companies-img {
    width: max-content;
    height: max-content;
    transition: all 0.2s ease;
}

.c-adira {
    margin-top: 96px;

}

.c-alhimic {
    margin-top: 68px;
}

.c-holkim {
    margin-top: 80px;
}

.c-mnc {
    margin-top: 80px;
}

.c-telecomsel {
    margin-top: 54px;
    margin-bottom: 55px;
}














.services {
    background: rgba(246, 246, 246, 0.8);
}

.services-top {
    display: flex;
    padding-top: 80px;
}

.services-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 69px;
    color: #242527;
    margin-left: 120px;
}

.services-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #C4C4C4;
    margin-left: 321px;
}

.services-bottom {
    display: flex;
    margin-left: 120px;
    width: 1200px;
    justify-content: space-between;
    margin-top: 80px;
}

.services-box {
    transition: all 0.2s ease;
    padding-bottom: 71px;
}

.services-box h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: #242527;
    margin-top: 38px;
}

.services-bottom p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #C4C4C4;
    margin-top: 37px;
}









.make-line {
    background: linear-gradient(90deg, #60BBEE -2.22%, #2387C0 67.22%);
    margin-top: 74px;
    width: 90px;
    height: 9px;
    margin-left: 135px;
}

.make-top {
    margin-top: 40px;
    display: flex;
}

.make-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 69px;
    color: #242527;
    margin-left: 120px;
}

.make-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #C4C4C4;
    margin-left: 291px;
}

.make-bottom {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin-left: 120px;
    margin-top: 65px;
}

.make-image {
    width: 94px;
    height: 94px;
    background: #2387C0;
    display: flex;
    justify-content: space-around;
    border-radius: 100%;
    border: 10px solid #BDDBEC;
    transition: all 0.3s ease;
}

.make-minis {
    transition: all 0.3s ease;
    padding: 10px;
    border-radius: 50px;
    margin-bottom: 100px;
}

.make-image img {
    margin-top: 12px;
    height: 74px;
}

.make-minis h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #242527;
    margin-top: 26px;
}

.make-minis p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #C4C4C4;
    margin-top: 24px;
    transition: all 0.3s ease;
}








.meet {
    background-color: white;
}

.meet-main {
    display: flex;
    margin-top: 132px;
}

.meet-left {
    display: flex;
    margin-left: 120px;
}

.meet-box {
    display: flex;
}

.meet-image {
    width: 504.85px;
    height: 540px;
}

.meet-comment {
    background: linear-gradient(219.84deg, #474747 4.14%, #222222 44.22%);
    box-shadow: 0px 10px 15px rgba(151, 151, 151, 0.12);
    text-align: center;
    position: absolute;
    margin-top: 130px;
    margin-left: 350px;
}

.meet-right {
    margin-left: 200px;
}

.meet-comment img {
    margin-left: 97px;
    margin-top: 33px;
    margin-right: 97px;
}

.meet-comment h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #FFFFFF;
    margin-top: 28px;
}

.meet-comment p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #E5E5E5;
    margin-top: 13px;
    margin-bottom: 41px;
}

.meet-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 69px;
    color: #242527;
    margin-top: 117px;
}

.meet-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
    color: #C4C4C4;
    margin-top: 36px;
}

.meet-box {
    margin-top: 60px;
}

.meet-box button {
    background: #0A72AD;
    box-shadow: 0px 10px 15px rgba(1, 115, 153, 0.2);
    padding: 20px 40px 20px 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    border: 1px solid #0A72AD;
    transition: all 0.3s ease;
}

.meet-box div a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #242527;
    margin-left: 27px;
}

.meet-box div img {
    margin-left: 17px;
}

.meet-mini {
    margin-top: 18px;
}



















.history-main {
    display: flex;
    margin-left: 120px;
    margin-top: 132px;
}

.history-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 69px;
    color: #242527;
}

.history-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 39px;
    color: #C4C4C4;
    margin-top: 24px;
}

.history-btn {
    background: #0A72AD;
    box-shadow: 0px 10px 15px rgba(1, 115, 153, 0.2);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    padding: 20px 40px 20px 40px;
    border: 1px solid #0A72AD;
    margin-top: 49px;
    transition: all 0.3s ease;
}

.history-right {
    margin-left: 74px;
}

.history-right img {
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}










.news-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 69px;
    color: #242527;
    margin-left: 120px;
    margin-top: 120px;
}

.news-list {
    display: flex;
    width: 1200px;
    justify-content: space-between;
    margin-left: 120px;
    margin-top: 38px;
}

.news-box div {
    display: flex;
    margin-top: 12px;
    margin-left: 15px;
}

.news-box-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    color: #242527;
    line-height: 23px;
}

.news-box-title span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #242527;
}

.news-box-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #242527;
    margin-left: 15px;
}

.news-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #C4C4C4;
    margin-left: 15px;
    margin-top: 15px;
}

.news-text span {
    color: #0A72AD;
}

.news-image {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}














.projects-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 69px;
    color: #242527;
    margin-left: 120px;
    margin-top: 95px;
}

.projects-list {
    display: flex;
    width: 1200px;
    justify-content: space-between;
    margin-left: 120px;
    margin-top: 38px;
}

.projects-box {
    width: 278px;
    height: 478px;
    transition: all 0.3s ease;
}

.projects-box:hover {
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}

.projects-box:hover .projects-mini {
    opacity: 1;
}

.projects-mini {
    display: flex;
    width: 253px;
    height: 88px;
    background: #FFFFFF;
    margin-left: 12px;
    margin-top: 379px;
    opacity: 0;
    transition: all 0.3s ease;
}

.projects-info {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #242527;
    margin-top: 22px;
    margin-left: 16px;
    width: 137px;
}

.projects-info span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #C4C4C4;
}

.projects-btn {
    background: #0A72AD;
    height: 57px;
    width: 57px;
    border: none;
    margin-top: 15px;
    margin-left: 29px;
    transition: all 0.3s ease;
}
















.footer-top {
    background: linear-gradient(219.84deg, #474747 4.14%, #222222 44.22%);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.08);
    width: 1064px;
    height: 566px;
    margin-left: 188px;
    margin-top: -241px;
    position: absolute;
    z-index: 2;
    display: flex;
}

.footer {
    background: linear-gradient(219.84deg, #474747 4.14%, #222222 44.22%);
}

.footer-bottom {
    height: 769px;
    margin-top: 378px;
    z-index: 1;
}

.footer-list {
    display: flex;
    padding-top: 420px;
    margin-left: 120px;
    width: 1200px;
    justify-content: space-between;
}

.footer-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.footer-text {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 32px;
}

.footer-icons-list {
    display: flex;
    height: 40px;
    width: 192px;
    justify-content: space-between;
    margin-top: 32px;
}

.footer-icon {
    padding: 12px;
    background: #2387C0;
    opacity: 0.1;
    border-radius: 2000px;
    transition: all 0.3s ease;
}

.footer-sentence {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
}

.footer-link {
    margin-top: 33px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    transition: all 0.3s ease;
}

.footer-box ul {
    width: 115px;
}

.footer-box ul li {
    margin-top: 33px;
}

.footer-left {
    display: flex;
}

.footer-mini-box {
    background: #FFFFFF;
    box-shadow: 0px 10px 15px rgba(35, 135, 192, 0.15);
    border-radius: 100%;
    position: absolute;
    width: 62px;
    height: 62px;
    margin-left: 101px;
    margin-top: -30px;
}

.footer-mini-box h1 {
    margin-left: 23px;
    margin-top: 14px;
    height: 11.333332061767578px;
    width: 14.171121597290039px;
    color: #0A72AD;
}

.footer-person {
    margin-top: 65px;
    margin-left: 59px;
    width: 269px;
    height: 344px;
}

.footer-mini {
    position: absolute;
    width: 263px;
    height: 171px;
    background: #FFFFFF;
    margin-top: 305px;
    margin-left: 197px;
}

.footer-mini-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #242527;
    margin-left: 60px;
    margin-top: 39px;
}

.footer-mini-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #939393;
    margin-left: 21px;
    margin-top: 7px;
}

.footer-top-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
    margin-left: 204px;
    margin-top: 65px;
}

.footer-top-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 37px;
    color: #C4C4C4;
    margin-left: 204px;
    margin-top: 44px;
}

.footer-top-list {
    margin-top: 91px;
    margin-left: 548px;
}

.footer-left-btn {
    background: #222222;
    border: none;
    padding: 22px 17px 20px 17px;
    transform: rotate(180deg);
    transition: all 0.3s ease;
}

.footer-right-btn {
    background: #0A72AD;
    border: none;
    padding: 22px 17px 20px 17px;
    transition: all 0.3s ease;
}

.slides {
    z-index: 3;
}

.slide {
    animation: slideAnimation 0.5s;
}

@keyframes slideAnimation {
    from {
        opacity: 0;
        transform: scale(0.1);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.mobile-footer {
    display: none;
}