@media (max-width: 600px) {
    * {
        flex-wrap: wrap;
        border: 1px solid red;
    }
    nav {
        width: 600px;
    }
    section {
        width: 600px;
    }
    .container {
        width: 600px;
    }
    .navbar-list {
        display: none;
    }
    .navbar-logo {
        margin-left: 25px;
    }
    .intro-title {
        margin-left: 25px;
        width: 550px;
    }
    .intro-text {
        margin-left: 25px;
        width: 550px;
    }
    .intro-btn {
        margin-left: 25px;
    }
    .intro-bottom {
        width: 600px;
        display: block;
    }
    .intro-right {
        animation: none;
        margin-left: 0px;
        width: 600px;
        display: flex;
        justify-content: space-evenly;
        margin-top: 25px;
    }
    .intro-mini-title {
        margin-left: 25px;
    }
    .intro-mini-text {
        margin-left: 0px;
    }
    .intro-mini-sentences {
        margin-left: 0px;
        margin-top: 25px;
    }
    .companies-box {
        width: 550px;
        margin-left: 25px;
    }
    .services-top {
        margin-left: 25px;
        width: 550px;
    }
    .services-title {
        margin-left: 0px;
    }
    .services-text {
        margin-left: 0px;
    }
    .services-bottom {
        display: block;
        width: max-content;
    }
    .services-box {
        width: max-content;
    }
    .make-line {
        margin-left: 25px;
    }
    .make-title {
        margin-left: 25px;
    }
    .make-text {
        margin-left: 25px;
    }
    .make-bottom {
        display: block;
        max-width: max-content;
    }
    .meet-left {
        width: 550px;
        margin-left: 25px;
    }
    .meet-comment {
        margin-left: 260px;
    }
    .meet-title {
        margin-left: 0px;
    }
    .meet-right {
        margin-left: 25px;
    }
    .history-left {
        margin-left: 25px
    }
    .history-title {
        margin-left: 0px;
    }
    .history-main {
        margin-left: 0px;
    }
    .history-right {
        margin-left: 0px;
        margin-top: 20px;
    }
    .news-title {
        margin-left: 25px;
    }
    .news-list {
        width: 550px;
        margin-left: 25px;
        display: block;
    }
    .projects-title {
        margin-left: 25px;
    }
    .projects-list {
        width: 600px;
        margin-left: 0px;
        justify-content: space-around;
    }
    .projects-box {
        margin-top: 20px;
    }
    .footer {
        display: none;
    }
}